{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="grid">
        <h1 class="grid--cell fl1 fs-headline1">New Questions</h1>
    </div>
</div>

{% for question in question_list %}
    {% include "question/single_question.html" %}
{% endfor %}

{% if question_list.has_other_pages %}
    <div class="pagination container">
        {% for i in question_list.paginator.page_range %}
            {% if question_list.number == i %}
                <span class="page-item selected">{{ i }}</span>
            {% else %}
                <a class="page-item" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}