{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="content container">
    {% include "question/single_question.html" %}
<h2>
    Your Answer
</h2>

<form id="answerForm">
    {% csrf_token %}
    <textarea id=answerText placeholder='Add answer'></textarea><br>
    <button id="answerButton">Add answer</button>
</form>
<div id='answerList' class="container">
{% if answers %}
    {%for answer in answers %}
    <div class="answer row">
        <div class="text"> {{ answer.text }} </div>
        <div class="user-info">
            <div class="author"> Answered by {{ answer.author }}</div>
            <div class='date'>{{ answer.added_at | date:"H:i:s d M Y" }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
<div>
<script> const questionPk = {{ question.pk }} </script>
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/answers.js' %}"></script>
<script src="{% static 'js/questions.js' %}"></script>
</div>
{% endblock %}
