<div class="question-summary container">
    {% if page_name == 'question_list' %}
        <div class="statscontainer">
            <div class="rating">{{ question.rating }}</div>
            <div class="rating-text"> votes</div>
        </div>
    {% endif %}
    {% if page_name == 'question_details' %}
         <div class="statscontainer">
            <button class="js-vote-btn up" aria-label="Up vote">
                <svg aria-hidden="true" width="36" height="36" viewBox="0 0 36 36">
                    <path d="M2 26h32L18 10 2 26z"></path>
                </svg>
            </button>
            <div class="rating">{{ question.rating }}</div>
            <div class="rating-text"> votes</div>
             <button class="js-vote-btn down" aria-label="Down vote">
                 <svg width="36" height="36" viewBox="0 0 36 36">
                     <path d="M2 10h32L18 26 2 10z"></path>
                 </svg>
             </button>
        </div>
    {% endif %}
    <div class="summary">
        <h3>
            <a class="question_link" href="{% url 'question_detail_view' question.pk %}"> {{ question.title }}</a>
        </h3>

        <div class="text"> {{ question.text|truncatechars:250 }}</div>
        <div class="user-info">
            <div class="author"> Asked by {{ question.author }}</div>
            <div class='date'>{{ question.added_at | date:"H:i:s d M Y" }}</div>
        </div>
    </div>
</div>
