<div class="question-summary container">
    <div class="statscontainer">
        <div class="rating">{{ question.rating }}</div>
        <div class="rating-text"> votes</div>
    </div>
    <div class="summary">
        <h3>
            <a class="question_link" href="{% url 'question_detail_view' question.pk %}"> {{ question.title }}</a>
        </h3>

        <div class="text"> {{ question.text|truncatechars:250 }}</div>
        <div class="user-info">
            <div class="author"> Asked by {{ question.author }}</div>
            <div class='date'>{{ question.added_at | date:"H:i:s d M Y" }}</div>
        </div>
    </div>
</div>
